.collection{
	cursor: default;
	&__inner{
		padding-top: 130px;
		padding-bottom: 65px;
	}
	&__subtitle{
		margin-bottom: 90px;
	}
	&__products{
		margin-bottom: 65px;
	}
	&__btn{
		border: 1px solid #6E9C9F;
		margin: 0 auto;
		color: #6E9C9F;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: white;
			}
		}
	}
}